/* Variabes */
/* Mixin's */
body {
  background: #ffa600;
  font-family: "luxi_monoregular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  height: 100%;
    display: inline;
}
form {
    display: inline-block;
}
.wrapper {
   color: #fff;
  text-align: center;
} 

h1, h2, h3 {
    margin: 0;
	padding: 0;
	border: 0;
margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
	font: inherit;
	vertical-align: baseline;
  /* font-family: "Roboto", sans-serif; */
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
} 

p {
    margin: 0vw;
	padding: 0;
	

  font-size:32vw;
}
#selectLable {
   display: inline-block; 
     color: #fff;
  
  font-size: 1.9vw;
} 
#mySelect {
    font-size: 1.9vw;
}
button {
    font-family: "luxi_monoregular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    
  
  border-radius: 5px;
 
    background-color: transparent;
  color: #fff;
  border: solid 1px #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.9vw;
  padding: 7px 10px;
  width: 14vw;
 
  outline: none;
}
button:hover {
  /*-webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;*/
  transition: all 0.5s ease-in-out;
  background: #fff;
  border: solid 1px #fff;
  color: #ffa600;
}
#fullscreenButton {
    width: fit-content;
    float: right;
}